<div class="container">
  <div class="row-page-start">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Rotating Box</h3>
        </div>
        <div class="panel-body text-center box-display">
          <div class="rotating">
          </div>
        </div>
        <hr/>
        <div class="panel-body">
          <%= render 'rotating_snippet' %>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Square to Circle</h3>
        </div>
        <div class="panel-body text-center box-display">
          <div class="square-to-circle rotating">
          </div>
        </div>
        <hr/>
        <div class="panel-body">
          <%= render 'square_to_circle_snippet' %>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Square to Circle and Back</h3>
        </div>
        <div class="panel-body text-center box-display">
          <div class="square-to-circle-and-back">
          </div>
        </div>
        <hr/>
        <div class="panel-body">
          <%= render 'square_to_circle_and_back_snippet' %>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Subtle Appear from Left and Right (Refresh Page to animate)</h3>
        </div>
        <div class="panel-body text-center box-display">
          <div class="row">
            <div class="col-md-6">
              <div class="appear-from-left">
              </div>
            </div>
            <div class="col-md-6">
              <div class="appear-from-right">
              </div>
            </div>
          </div>
        </div>
        <hr/>
        <div class="panel-body">
          <%= render 'subtle_appear_snippet' %>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Menu Buttons Appear (Refresh Page to Animate)</h3>
        </div>
        <div class="panel-body text-center box-display">
          <div class="row">
            <div class="col-md-4">
              <div class="round-icon fly-in-from-bottom" id="icon-1">
              </div>
            </div>
            <div class="col-md-4">
              <div class="round-icon fly-in-from-bottom" id="icon-2">
              </div>
            </div>
            <div class="col-md-4">
              <div class="round-icon fly-in-from-bottom" id="icon-3">
              </div>
            </div>
            <div class="col-md-4">
              <div class="round-icon fly-in-from-bottom" id="icon-4">
              </div>
            </div>
            <div class="col-md-4">
              <div class="round-icon fly-in-from-bottom" id="icon-5">
              </div>
            </div>
            <div class="col-md-4">
              <div class="round-icon fly-in-from-bottom" id="icon-6">
              </div>
            </div>
          </div>
        </div>
        <hr/>
        <div class="panel-body">
          <%= render 'menu_buttons_appear_snippet' %>
        </div>
      </div>
    </div>
  </div>
</div>
